.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 100vh;
  background-size: 50rem;
  background-position: center;
  position: relative;
}

.video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.card {
  top: 3rem;
  height: 24.5rem;
  position: relative;
  z-index: 2;
}

.cardsContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
}